*{
    font-family: 'Cabin', sans-serif;;
}

.carousel-item{
    height: 100vh;
    min-height: 300px;
    background: no-repeat center center scroll;
    background-size: cover;
}

.textoArriba{
    text-align: center;
    color: white;
}

#footer a{
    color: white;
    text-decoration: none;
}